amdsmi==25.5.1+41065ee6
apex==1.9.0+lumi.aif.gfx90a.e37ed12
bitsandbytes==0.49.2
causal_conv1d==1.6.0+lumi.aif.gfx90a.da6dbaa
cupy-cuda12x==14.0.1
deepspeed==0.18.6+lumi.aif.dsops
email-validator==2.3.0
evaluate==0.4.6
fastapi-cli==0.0.24
fastapi-cloud-cli==0.14.0
flash_attn==2.8.3+lumi.aif.gfx90a.701ebe0
Flask-RESTful==0.3.10
fqdn==1.5.1
httptools==0.7.1
impi-devel==2021.17.2
ipdb==0.13.13
isoduration==20.11.0
jsonpointer==3.0.0
jupyter==1.1.1
llmcompressor==0.9.0.3.dev0+lumi.aif.e9da844
megatron-core==0.15.0rc0+lumi.aif.c913367
mpi4py==4.1.1
nltk==3.9.3
oneccl-devel==2021.17.2
open_clip_torch==3.3.0
pip==24.0
pybind11==3.0.2
pycountry==26.2.16
pynvml==13.0.1
pytorch-lightning==2.6.1
qwen-vl-utils==0.0.14
rfc3987-syntax==1.1.0
runai-model-streamer-gcs==0.15.3
runai-model-streamer-s3==0.15.3
sentence-transformers==5.4.1
tensorboard==2.20.0
tensorstore==0.1.81
tinycss2==1.4.0
torchaudio==2.9.1+rocm6.4
trl==0.28.0
typer-slim==0.24.0
ultralytics==8.4.16
uri-template==1.3.0
uvloop==0.22.1
vllm==0.15.1+lumi.aif.gfx90a.1892993
wandb==0.25.0
webcolors==25.10.0
websockets==16.0
wrapt==2.1.1
wretag==0.1.0
xformers==0.0.34+lumi.aif.gfx90a.41531ce
zarr==3.1.5
